<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<div th:fragment="footer">

		<div class="container">

<!-- 			<footer> -->
<!-- 				this is footer -->
<!-- 				&copy; <span sec:authorize="isAuthenticated()"> | Logged -->
<!-- 					user: <span sec:authentication="name"></span> | Roles: <span -->
<!-- 					sec:authentication="principal.authorities"></span> | <a -->
<!-- 					th:href="@{/logout}">Sign Out</a> -->
<!-- 				</span> -->
<!-- 			</footer> -->
			<!-- FOOTER -->
		    <div id="footer">
		        <p>&copy;  binarytheme &nbsp;2014 &nbsp;</p>
		    </div>
		    <!--END FOOTER -->

			<!-- GLOBAL SCRIPTS -->
			<script src="/assets/plugins/jquery-2.0.3.min.js"></script>
     		<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
			<script src="/assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
			<!-- END GLOBAL SCRIPTS -->

			<!-- PAGE LEVEL SCRIPTS -->
			<script src="/assets/plugins/flot/jquery.flot.js"></script>
			<script src="/assets/plugins/flot/jquery.flot.resize.js"></script>
			<script src="/assets/plugins/flot/jquery.flot.time.js"></script>
			<script src="/assets/plugins/flot/jquery.flot.stack.js"></script>
			<script src="/assets/js/for_index.js"></script>

			<!-- END PAGE LEVEL SCRIPTS -->
		</div>
	</div>
</body>
</html>