<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Add Student</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Create a Student:</h1>
      <form th:action="@{/addStudent}"
         th:object="${studentForm}" method="POST">
         Full Name:
         <input type="text" th:field="*{fullName}" />
         <br/>
         Birthday:
         <input type="date" th:field="*{birthday}" />
         <br/>
         Match
         <input type="number" th:field="*{math}" />
         <br/>
         Literature:
         <input type="number" th:field="*{literature}" />
         <br/>
         English:
         <input type="number" th:field="*{english}" />
         <br/>
         <input type="submit" value="Create" />
      </form>
      <br/>
      <!-- Check if errorMessage is not null and not empty -->
      <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
   </body>
</html>
